// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-products{
    margin-left: 5%;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}
